@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* 
font-family: 'Raleway', sans-serif;  // headers and call to action
font-family: 'Open Sans', sans-serif; // body font
*/

:root{

  /* Screens variables */
  --mobile-width : 375px;
  --desktop-width : 1440px;

  /* Colors */
  /* Primary */
  --intro-email-background :hsl(217, 28%, 15%);
  --main-background: hsl(218, 28%, 13%);
  --footer-background: hsl(216, 53%, 9%);
  --testimonials-background: hsl(219, 30%, 18%);

  /* Accent */
  --call-to-action-gradient: #65e2d9;
  --call-to-action-gradient: #339ecc;
  --cta-gradient:linear-gradient(to right top, #65e2d9, #49d2da, #33c1d8, #2bb0d4, #339ecc);

  /* White */
  --White: hsl(0, 0%, 100%);

  /* Fonts */
  --small-body-font:0.875rem;
  --body-font:1rem;

  --normal-weight:400;
  --heavy-weight:700;
}

/* 
  General Declrations
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input:focus, textarea:focus, select:focus{
  outline: none;
  border-style: none;
  outline-style: none;
}

h1,
h2,
h3,
h4{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

body{
  font-family: 'Open Sans', sans-serif;
  font-size: var(--body-font);
  line-height: 1.5;
  color: var(--White);
  background-color: var(--main-background);
}

.container{
  width: 90%;
  max-width: var(--desktop-width);
  margin: 0 auto;
}

a{
  color: var(--White);
  text-decoration: none;
}

li{
  list-style: none;
}

.btn{
  background-image: var(--cta-gradient);
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  border-radius: 25px;
  width: 250px;
  padding: 15px;
}

ion-icon{
  color: var(--call-to-action-gradient);
  font-size: 5rem;
  margin-bottom: 20px;
}

/********************************************* HEADER ******************************************/

/* 
  Nav-bar
*/


nav{
  display: flex;
  padding: 50px 0;
}

.nav-items,
.logo{
  flex: 1;
}

.logo img{
  width: 150px;
}

.nav-items{
  display: flex;
  justify-content: flex-end;
}

.nav-items li:not(:last-child){ 
  /* All elments but the last li well get this effect */
  margin-right: 100px;
}

/* 
  Header illustrations
*/

header{ 
  background: url(./images/bg-curvy-desktop.svg);
  background-color: var(--intro-email-background);   
  background-size: contain;
  background-repeat: no-repeat;
  background-position:20% 100%;
}

.illustration{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.illustration-text{
  width: 700px;
}

.illustration-text h1{
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  margin: 40px 0; 
}

.illustration-text h4{
  font-weight: var(--small-body-font);
  margin: 40px 0;
}

.curvy-bg{
  position: absolute;
  top: 700px;
  background: tomato;
  z-index: -1;  
}

/********************************************* Content ******************************************/

/* 
  Survices
*/

.survices{
  margin-top: 200px;
  margin-bottom: 50px;
  /* background-color: var(--main-background); */
}

.survices h4{
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
  margin: 10px 0;
}

.survices p{
  font-weight: 400;
  width: 400px;
}

.survices-grid-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 100px 20px;
}

.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* 
  Productive
*/

.stay-productive{
  margin: 150px 0;
}

.productive-flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.productive-img{
  flex: 1;
}

.productive-text{
  flex: 1;
  margin-left: 50px;
}

.productive-text p{
  margin: 20px 0;
}

.do-more a{
  color: #62E0D9;
}

.do-more a::after{
  content: '';
  display: block;
  width: 10.5rem;
  height: 1px;
  background: #62E0D9;
}

/* 
  Recommendation
*/

.recommendation{
  margin: 150px 0;
}

.recommendation-container{
  display: flex;
  gap:30px;
} 

.recommendation-container .rec-box{
  border-radius: 5px;
  background-color: var(--testimonials-background);
  padding: 40px 20px 40px 20px;
  box-shadow: 15px 10px 5px var(--footer-background);
}

.recommendation-container .profile{
  display: flex;
}

.rec-text {
  margin-bottom: 20px;
}

.profile-name{
  font-weight: 700;
}

.profile-slogan{
  font-size: 0.7rem;
  color:rgba(255, 255, 255, 0.603);
}

.recommendation-container img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

/* 
  Contact
*/
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 150px 0 ; 
}

.contact-container{
  background-color: var(--intro-email-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  padding: 40px 80px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px var(--footer-background);
  position: absolute;
  top: 5px;
  left: 200px;
}

.contact-container h1{
  margin-bottom: 20px;
  font-size: 3rem;
}

.contact-container .contact-text{
  width: 700px;
}

.contact-items-wraper{
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.get-started{
  width: 500px;
  height: 3rem;
  border-radius: 25px;
  margin-right: 20px;
  border: none;
}

.btn-contact{
  background-image: var(--cta-gradient);
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  height: 3rem;
  border-radius: 25px;
  width: 250px;
  padding: 15px;
}

footer{
  background-color: var(--footer-background);
  padding-top: 250px;
}

.footer-flex-container{
  display: flex;
  margin-top: 20px;
}



.location,
.contacts,
.nav-extra,
.social{
  flex: 1;
}

.fab{
  border-radius: 50%;
  font-size: 1rem;
  width: fit-content;
  padding:10px;
  border:1px solid white  ;
  margin-left: 10px;
}

.location{
  display: flex;
}

.location img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.contacts{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  text-align: center;
}

.cc{
  display: flex;
  margin-bottom: 10px;
}

.contacts img{
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.nav-extra{
  display: flex;
}

.ls1{
  line-height: 2;
  display: flex;
  flex-direction: column; 
  padding: 0 50px;
}

.ls2{
  line-height: 2;
  display: flex;
  flex-direction: column;
  padding: 0 50px;
}

.attribution{
  margin-top: 20px;
  text-align: center;
}









